.root {
  
  display: flex;
  align-items: center;
  height: 200px;
}
.timer-box {
  background-color: #3b1c52;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}
.timer {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
input[type='text'],
textarea {
  width: 100px;
  border-width: 0 0 1px;
  border-color: lightgrey;
  background-color: #3b1c52;
  color: white;
  text-align: center;
}
input[type='number'],
textarea {
  width: 100px;
  border-radius: 5px;
  border-width: 0 0 1px;
  border-color: lightgrey;
  background-color: lightgrey;
  color: black;
  text-align: center;
  margin-right: 5px;
}
button {
  margin-left: 3px;
}
